
/* Your CSS Code here. */
.main {
	
	width: 200px;
	background-color: purple;
	border-left: 5px solid green;
	padding: 10px;
}
u {
	text-decoration: none;
	border-bottom: 2px solid white;
}
.heading {
	font-size: 20px;
	color: white;
	
}